a:hover {
  text-decoration: underline;
}

.DivItemContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 28px 0;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleY(0.5);
    background: rgba(22, 24, 35, 0.2);
  }
}

.avatar-anchor {
  flex: 0 0 auto;
}

.DivContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before,
  ::after {
    box-sizing: border-box;
  }
}

.SpanAvatarContainer-StyledAvatar {
  display: inline-block;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow: hidden;
  color: var(--white);
  white-space: nowrap;
  text-align: center;
  border-radius: 50%;
  border-color: rgba(22, 24, 35, 0.12);
  border-width: 0.5px;
  cursor: pointer;
}

.Image-wrapper {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.DivContentContainer {
  margin-left: 12px;
  width: 624px;
  flex: 1 1 624px;

  &::after {
    box-sizing: border-box;
  }
}

.DivTextInfoContainer {
  margin-right: 114px;

  &::before,
  ::after {
    box-sizing: border-box;
  }
}

.DivAuthorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  &::before,
  ::after {
    box-sizing: border-box;
  }
}

.StyledAuthorAnchor {
  display: block;
}

.H3AuthorTitle {
  font-size: 1.8rem;
  font-weight: 700;
  display: inline-block;
  margin-right: 4px;

  &:hover {
    text-decoration: underline;
  }
}

.H4AuthorName {
  font-size: 1.4rem;
  font-weight: 400;
  display: inline-block;
}

.Button-StyledFollowButton {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  right: 0;
  position: absolute;
  top: 20px;
  padding: 0 10px;
}

.DivTextContainer {
  font-size: 16px;

  &::before,
  ::after {
    box-sizing: border-box;
  }
}

.SpanText {
  font-weight: 400;
}

.StyledCommonLink {
  display: inline-block;
  margin-right: 4px;
}

.StrongText {
  font-weight: 600;
}

.H4Link {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 12px;
}

.SvgIcon {
  margin-right: 5px;
  transform: translateY(4px);
}

.DivVideoWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.DivVideoCardContainer {
  height: calc(450px + (100vw - 768px) / 1152 * 100);
  position: relative;
  box-sizing: border-box;
  background: #eee center no-repeat;
  background-size: cover;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 20px;
}

.CanvasVideoCardPlaceholder {
  display: block;
  visibility: hidden;
  height: 100%;
}

.DivVideoPlayerContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.DivVideoContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: rgba(22, 24, 35, 0.06);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.DivBasicPlayerWrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.VideoBasic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.DivPlayIconContainer {
  left: 12px;
  position: absolute;
  padding: 10px;
  width: 40px;
  height: 40px;
  transition: opacity .3s;
  opacity: 1;
  bottom: 26px;  

  // &:hover {
  //   opacity: 1;
  // }
}

.playIcon {
 color: white; 
}

.DivVoiceControlContainer {
  position: absolute;
  bottom: 26px;
  left: unset;
  right: 12px;
}

.DivMuteIconContainer {
  padding: 8px;
  opacity: 1;
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease 0s;
}

.muteIcon {
  color: white;
}

.PReportText {
  font-size: 1.6rem;
  font-weight: 600;
  position: absolute;
  top: 24px;
  right: 16px;
  transition: opacity .3s;
  opacity: 1;
  color: white;  
  display: flex;
  align-items: center;
}

.reportIcon {
  color: white;
}

.ButtonActionItem {
  border: none;
  background: none;  
  outline: none;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;  
}

.SpanIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-size: 0px;
  border-radius: 50%;
  transition: all ease-in-out 200ms;
  background-color: rgba(22, 24, 35, 0.06);
  margin-top: 8px;
  margin-bottom: 6px;

  &:hover {
    background-color: rgba(22, 24, 35, 0.1);
  }
}

.actionIcon {
  color: black;
}

.StrongActionText {
  color: rgba(22, 24, 35, 0.75);
  font-size: 1.2rem;
  text-align: center;
}

.ForwardAcc {
  background-color: white;
  padding-right: 4px;
  left: -25px;
  position: absolute;

  border-radius: 8px;
  bottom: calc(100% + 12px);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
  transition: opacity 300ms ease 0s;  
  transform: translateY(8px);
  cursor: pointer;

  &::before, ::after {
    box-sizing: border-box;
  }
}

.DivShareWrapper {
  font-size: 1.6rem;
  font-weight: 600;
  width: 280px;
  padding: 8px 0px;
  overflow: auto;
}