.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  background-color: var(--white);
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  padding: 0 var(--default-layout-horizontal-spacer);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  text-decoration: none;
}

//Actions
.actions {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.upload-wrapper {
  position: relative;
  cursor: pointer;
}

// .icon-wrapper.selected {
//    background-color: rgba(22, 24, 35, 0.06);
// }

.icon-wrapper {
  min-width: 110px;
  height: 36px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.plus-icon {
  margin-right: 8px;
}

.icon-text {
  font-size: 16px;
  font-weight: 600;
  color: #161823;
}

.more-btn {
  font-size: 2rem;
  margin-left: 16px;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
}

.action-btn {
  position: relative;
  display: flex;
  font-size: 2.2rem;
  color: #161823;
  background-color: transparent;
  padding: 4px 10px;
  cursor: pointer;
}

.Message-icon-container {
  height: 32px;
  padding: 3px 3px 0;
  margin-left: 16px;
}

.action-btn + .action-btn {
  margin-left: 16px;
}

.badge {
  position: absolute;
  top: -3px;
  right: 0px;
  padding: 0px 6px;
  height: 2rem;
  line-height: 2rem;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  font-family: var(--font-family);
  background-color: var(--primary);
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 24px;
  cursor: pointer;
}
