.wrapper {
  width: var(--default-layout-sidebar-width);
  padding: 20px 0 26px 8px;    
  margin-left: -18px;
}

.menu {
  margin-bottom: 8px;
}

.DivUserContainer {
  padding: 16px 0;
  color: rgba(22, 24, 35, 0.12);
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;

  &::before {
    content: "";
    left: 8px;
    right: 8px;
    top: 0;
    height: 1px;
    background-color: rgba(22, 24, 35, 0.12);
    transform: scaleY(0.5);
    position: absolute;
  } 
  
  &::after {
    box-sizing: border-box;
  }  
}

.PTitle {
  padding: 0 8px;
  margin-bottom: 8px;
  font-size: 1.4rem;
  line-height: 20px;
  color: rgba(22, 24, 35, 0.75);
  font-weight: 600;
}

.userLinkContainer {
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;  
  border-radius: 4px;
  transition: background-color 200ms ease-in-out 0s;
  
  &::before, ::after {
    box-sizing: border-box;
  }

  &:hover {
    background: rgba(22, 24, 35, 0.03) none repeat scroll 0% 0%;
  }
}

.suggest-user-bluev {
  margin-left: 4px;
  
  &::before, ::after {
    box-sizing: border-box;
  }
}

.DivContainer-StyleUserAvatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.SpanAvatarContainer-StyleAvatar {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;;
  position: relative;
  overflow: hidden;
  color: var(--white);
  white-space: nowrap;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(136, 136, 136, 0.5);
  border-color: rgba(22, 24, 35, 0.12);
  border-width: 0.5px;
  cursor: pointer;
}

.ImgAvatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.StyleUserContentLink {
  flex-grow: 1;
  height: 32px;
}

.DivUserTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.H4UserTitle {
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: -2px;
  max-width: 260px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.PUserDesc {
  color: rgba(22, 24, 35, 0.75);
  max-width: 260px;
  font-size: 1.2rem;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.DivShowMoreTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px;
  margin-top: 8px;
  cursor: pointer;

  &::before, ::after {
    box-sizing: border-box;
  }
}

.DivDiscoverContainer {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 16px 8px 8px;

  &::after {
    content: "";
    position: absolute;
    top: 0px;
    width: calc(100% - 16px);
    height: 1px;
    background: rgba(22, 24, 35, 0.12) none repeat scroll 0% 0%;
    transform: scaleY(0.5);
  }  
}

.PShowMoreText {
  color: var(--primary);
  font-size: 1.4rem;
  font-weight: 600;
}

.DivDiscoverListContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.StyledTmpLink {
  display: block;
  width: fit-content;
  max-width: 100%;
}

.DivDiscoverItemContainer {
  display: flex;
  box-sizing: border-box;
  width: fit-content;
  max-width: 100%;
  height: 24px;
  margin-bottom: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(22, 24, 35, 0.2);
  border-radius: 12px;
  transition: background 200ms ease-in-out 0s;
  margin-right: 8px;

  &:hover {
    background: rgba(22, 24, 35, 0.03) none repeat scroll 0% 0%;
  }
}

.PText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(22, 24, 35, 0.75);
  font-size: 1.4rem;
  font-weight: 400;
  padding-left: 6px;
  margin: 0;
}

.DivPlaceholder {
  flex: 1 1 0px;

  &::before, ::after {
    box-sizing: border-box;
  }
}

.DivFooterContainer {
  position: relative;
  padding-top: 16px;
  padding-left: 8px;

  &::before {
    content: "";
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0px;
    height: 1px;
    background: rgba(22, 24, 35, 0.12);
    transform: scaleY(0.5);
  }

  &::before, ::after {
    box-sizing: border-box;
  }
}

.DivLinkContainer {
  margin-bottom: 8px;

 &::before, ::after {
  box-sizing: border-box;
 }
}

.StyledNavLink {
  color: rgba(22, 24, 35, 0.5);
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
  margin-right: 6px;
  margin-top: 5px;

  &:hover {
    text-decoration: underline;
  }
}

.SpanCopyright {
  color: rgba(22, 24, 35, 0.5);
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
  margin-right: 6px;
  margin-top: 5px;

  &::before, ::after {
    box-sizing: border-box;
  }
}